---
import FullStar from "@/components/ui/stars/FullStar.astro";
import AvatarTestimonialSection from "../../ui/avatars/AvatarTestimonialSection.astro";
import HalfStar from "@/components/ui/stars/HalfStar.astro";
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@/components/ui/buttons/SecondaryCTA.astro";

// Define props from Astro
const { title, testimonials } = Astro.props;

// Define TypeScript interface for Testimonial
interface Testimonial {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
  avatarAlt: string;
  title: string;
  rating: number;
  category: number;
  investment: number;
  reward: number;
  rewardType: string;
  url: string;
  disclaimer: string;
  
  
  
  code: string;
  id: number;
  howToRegister: string;
}

// Define TypeScript interface for props
interface Props {
  title: string;
  testimonials: Testimonial[];
}

---
<!-- Main div that wraps the testimonials section -->
<section
  class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full rounded-lg shadow-md bg-neutral-100 dark:bg-neutral-700"
  id="testimonials"
>
  <!-- Title of the testimonials section -->
  <div class="mb-6 w-3/4 max-w-2xl sm:mb-10 md:mb-16 lg:w-1/2">
    <h2
      class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl"
    >
      {title}
    </h2>
  </div>

  <div class="grid gap-6 lg:grid-cols-2 xl:grid-cols-3">
    <!-- Looping through each testimonial data and rendering it -->
    {
      testimonials.map(({avatarSrc, avatarAlt, author, role, content, title, rating, category, investment, reward, rewardType, id, url, code, disclaimer, howToRegister}: Testimonial) => {

        const actualRating = rating % 1 >= 0.7 ? Math.ceil(rating) : Math.floor(rating);
        const isHalfStar = rating % 1 > 0.2 && rating % 1 < 0.7;

        return (
        <div class="w-80 sm:w-96 col-span-1 mx-auto ring-2 rounded-xl ring-neutral-200 dark:ring-neutral-800 text-neutral-800 dark:text-neutral-200">
          <div class="flex flex-col rounded-xl bg-neutral-50 dark:bg-neutral-700">
            
            <div class=" bg-neutral-300/30 p-4 dark:bg-neutral-900/30 md:px-7 rounded-t-xl">
              <div class="flex items-center">
                <AvatarTestimonialSection
                  src={avatarSrc}
                  alt={avatarAlt}
                  />

                <div class="ms-3 grow">
                  <p class="font-bold  text-xl">
                    {title}
                  </p>

                  <p class="text-sm font-semibold text-neutral-500 dark:text-neutral-200 ">
                    {category? 'Casino' : 'Sport Betting'}
                  </p>
                
                  <div class="flex flex-col items-start mt-2">
                    <div class="flex space-x-1 ">
                      <div class="flex space-x-1">

                        {
                          
                          Array(actualRating)
                            .fill(0)
                            .map((_, i) => <FullStar key={i} />)
                        }
                        {
                          isHalfStar && <HalfStar />
                        }
                       
                      </div>
                     
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center px-4 py-4 font-bold text-lg bg-gray-50 dark:bg-neutral-800">

              <p class="text-pretty text-neutral-600 dark:text-neutral-300 mb-6">
                  Bet ${investment}
                <span class="text-pretty text-neutral-800 dark:text-neutral-200 text-2xl ">
                  Get ${reward}
                </span>
                  In {rewardType}
              </p>

              <div class="flex gap-6 justify-center">
                <SecondaryCTA title="How To Register" url={url} />
                <PrimaryCTA title="Check Out" url={url} />
              </div>
            </div>
              {code ? 
                <p class="text-center h-8 bg-gray-50 dark:bg-neutral-800 pb-1">Use code: <b>{code}</b></p>
                :
                <fragment class="h-8 bg-gray-50 dark:bg-neutral-800" />
              }

            <div class="rounded-b-xl bg-neutral-300/30 dark:bg-neutral-900/30 p-2">

              <p class="text-xs text-neutral-500 dark:text-neutral-200 h-14 overflow-y-auto text-pretty ms-3 ">
                {disclaimer}
              </p>
                  
            </div>
          </div>
        </div>
      )
    })
    }
  </div>
  </section>
