---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import heroImage from "@images/hero-image.png";
import OfferSection from "@/components/sections/OfferSection.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { SITE, TEXTS, FAQS } from "@data/constants";
import { getCountryCode } from "@/utils/utils";
import LandingText from "@/components/sections/landing/LandingText.astro";
import FAQ from "@/components/sections/misc/FAQ.astro";
import FeaturesGeneral from "@components/sections/landing/FeaturesGeneral.astro";
import BigLandingCards from "@/components/sections/landing/BigLandingCards.astro";
import ConclusionCards from "@/components/sections/landing/ConclusionCards.astro";

const lang = Astro.currentLocale as keyof typeof TEXTS;

const offers: CollectionEntry<"reviews">[] = await getCollection(
  "reviews",
  ({ id }) => {
    return id.startsWith(lang);
  }
);

const chosenBet = offers.find((offer) => ("chosen" in offer.data && offer.data.chosen === true && offer.data.type === 2));
const chosenCasino = offers.find((offer) => ("chosen" in offer.data && offer.data.chosen === true && offer.data.type === 1));


const texts = TEXTS[lang];
const faqs = FAQS[lang];
---

<MainLayout
  title={SITE(lang).title}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": `https://certainWager.com/${lang}/blog`,
    url: `https://certainWager.com/${lang}/blog`,
    name: "Blog | CertainWager",
    description: texts.mainDescription,
    isPartOf: {
      "@type": "WebSite",
      url: "https://certainWager.com",
      name: "CertainWager",
      description: texts.heroSubtitle,
    },
    inLanguage: getCountryCode(lang),
  }}
>

  <HeroSection
    title=`Prehľadný Zoznam 
    <span class="text-yellow-500 dark:text-yellow-400 text-5xl lg:text-6xl">Bonusov</span> 
    <br/>
    <span class="text-orange-500 dark:text-orange-300 text-3xl lg:text-5xl"> Stávkových Kancelárií</span>
    A
    <span class="text-orange-500 dark:text-orange-300  text-3xl lg:text-5xl"> Kasín</span>
    na Slovensku 
`
    subTitle={texts.heroSubtitle}
    src={heroImage}
    alt={texts.heroAlt}
  />
  
  <OfferSection
    testimonials={offers}
  />

  <FeaturesGeneral/>

  <BigLandingCards/>

  <FAQ title={texts.faq} faqs={faqs} />

  <hr class="my-12 -skew-y-3" />
  
  <ConclusionCards texts={texts} chosenBet={chosenBet} chosenCasino={chosenCasino}/>
  
  <LandingText />

</MainLayout>
