---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import heroImage from "@images/hero-image.png";
import OfferSection from "@/components/sections/OfferSection.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { SITE, TEXTS } from "@data/constants";
import { getCountryCode } from "@/utils/utils";
import LandingText from "@/components/sections/landing/LandingText.astro";
import FAQ from "@/components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import FeaturesGeneral from "@components/sections/landing/FeaturesGeneral.astro";
import features from "@data/features.json";

const lang = Astro.currentLocale as keyof typeof TEXTS;

const offers: CollectionEntry<"reviews">[] = await getCollection(
  "reviews",
  ({ id }) => {
    return id.startsWith(lang);
  }
);

const texts = TEXTS[lang];
---

<MainLayout
  title={SITE(lang).title}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": `https://certainWager.com/${lang}/blog`,
    url: `https://certainWager.com/${lang}/blog`,
    name: "Blog | CertainWager",
    description: texts.mainDescription,
    isPartOf: {
      "@type": "WebSite",
      url: "https://certainWager.com",
      name: "CertainWager",
      description: texts.heroSubtitle,
    },
    inLanguage: getCountryCode(lang),
  }}
>

  <HeroSection
    title=`Prehľadný Zoznam 
    <span class="text-yellow-500 dark:text-yellow-400 text-5xl lg:text-6xl">Bonusov</span> 
    <br/>
    <span class="text-orange-500 dark:text-orange-300 text-3xl lg:text-5xl"> Stávkových Kancelárií</span>
    A
    <span class="text-orange-500 dark:text-orange-300  text-3xl lg:text-5xl"> Kasín</span>
    na Slovensku 
`
    subTitle={texts.heroSubtitle}
    src={heroImage}
    alt={texts.heroAlt}
  />
  
  <OfferSection
    testimonials={offers.map((offer) => offer.data)}
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FAQ title="Frequently asked questions" faqs={faqs} />

  <LandingText />

  
   
</MainLayout>
