---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
// import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import heroImage from "@images/hero-image.png";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import TestimonialsSectionAlt from "@/components/sections/testimonials/TestimonialsSectionAlt.astro";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content:
      " \"Since switching to ScrewFast's hardware tools, the efficiency on our construction sites has skyrocketed. The durability of the hex bolts and precision of the machine screws are simply unmatched. It's refreshing to work with a company that truly understands the daily demands of the industry.\" ",
    author: "Jason Clark",
    role: "Site Foreman | TopBuild",
    avatarSrc:
      "https://www.shutterstock.com/image-vector/sport-bet-logo-icon-live-260nw-2147401823.jpg",
    avatarAlt: "Image Description",
    title: "Casino Alpha",
    rating: 4.18,
    category: 1,
    investment: 150,
    reward: 420,
    rewardType: "Tokens",
    disclaimer: "T&Cs Apply",
    url: "https://www.google.com",
  },
  // Second testimonial data
  {
    content:
      " \"As an interior designer, I'm always looking for high-quality materials and tools that help bring my visions to life. ScrewFast's mixed screws assortment has been a game-changer for my projects, providing the perfect blend of quality and variety. The outstanding customer support was just the cherry on top!\" ",
    author: "Maria Gonzalez",
    role: "Interior Designer | Creative Spaces",
    avatarSrc:
    "https://images-platform.99static.com//dCLJ4R40XbxzyY6tFhBFLQ2ZEJI=/420x0:1500x1080/fit-in/500x500/99designs-contests-attachments/90/90536/attachment_90536419",
    avatarAlt: "Image Description",
    title: "Sport Betting Turbo",
    rating: 4.4,
    category: 0,
    investment: 50,
    reward: 40,
    rewardType: "Free Bets",
    disclaimer: "New UK 18+ only. Register (excl. 13/04/2024) with promo code WELCOME40, Bet £10+ on Sports in one transaction within 7 days of registering. Get £30 Free Bets & £10 free spins within 10hrs of bet settlement. Bonuses expire 7 days after issue. Min odds, eligibility & payment exclusions apply. T&Cs apply.",
  },
  // Third testimonial data
  {
    content:
      " \"I’ve been a professional carpenter for over 15 years, and I can sincerely say that ScrewFast’s tap bolts and nuts are some of the best I've used. They grip like no other, and I have full confidence in every joint and fixture. Plus, the service is impeccable – they truly care about my project's success.\" ",
    author: "Richard Kim",
    role: "Master Carpenter | WoodWright",
    avatarSrc:
      "https://i.pinimg.com/474x/d1/92/23/d1922396d297ac426cf04265a3674d3b.jpg",
    avatarAlt: "Image Description",
    title: "Casino Chuppa",
    rating: 4.71,
    category: 1,
    investment: 10,
    reward: 50,
    rewardType: "Free Spins",
    disclaimer: "New UK 18+ only. Register (excl. 13/04/2024) with promo code WELCOME50, Bet £10+ on Sports in one transaction within 7 days of registering. Get £30 Free Bets & £20 free spins within 10hrs of bet settlement. Bonuses expire 7 days after issue. Min odds, eligibility & payment exclusions apply. T&Cs apply.",
  },
];
---

<MainLayout>

  <HeroSection
    title=`Shortcut To Free <span class="text-yellow-500 dark:text-yellow-400 text-5xl lg:text-8xl">Bets</span> And <span class="text-orange-500 dark:text-orange-300 text-5xl lg:text-8xl">Profit</span>`
    subTitle="Top-quality hardware tools and expert construction services for every project need."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

    <TestimonialsSectionAlt
    title="Offers"
    testimonials={testimonials}
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At ScrewFast, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "Empower your projects with ScrewFast's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Navigate with ease using ScrewFast's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout>
