---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE, TEXTS } from "@data/constants";
import ReviewSection from "@/components/sections/ReviewSection.astro";
import { getCountryCode } from "@/utils/utils";

const lang = Astro.currentLocale as keyof typeof TEXTS; 

const reviews: CollectionEntry<"reviews">[] = await getCollection(
  "reviews",
  ({ id }) => {
    return id.startsWith(lang)
  }
);

const texts = TEXTS[lang];

const pageTitle: string = `reviews | ${SITE(lang).title}`;


---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": `https://certainWager.com/${lang}/reviews`,
    "url": `https://certainWager.com/${lang}/reviews`,
    "name": texts.reviewLayoutName,
    "description": texts.reviewLayoutDescription,
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://certainWager.com",
      "name": "certainWager",
      "description": texts.heroSubtitle,
    },
    "inLanguage": getCountryCode(lang),
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-2xl md:text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200"
      >
        {texts.reviewTitle}
      </h1>

      <p
        class="mt-4 text-pretty text-sm text-neutral-600 dark:text-neutral-400"
      >
        {texts.reviewDescription}
      </p>
    </div>
  </section>
  
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    
    <section>
        <ReviewSection
          review={reviews}
          viewText={texts.view}
        />
    </section>
   

    
  </div>

 
</MainLayout>
