---
// Import necessary components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@components/ui/cards/CardBlog.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE, TEXTS } from "@data/constants";

const texts = TEXTS.en;

const englishBlogEntries = await getCollection("blog", ({ id }) => {
  return id.startsWith("ie/");
});

const blogPosts: CollectionEntry<"blog">[] = englishBlogEntries.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const otherPosts: CollectionEntry<"blog">[] = blogPosts;

const pageTitle: string = `Blog | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://certainWager.com/ie/blog",
    url: "https://certainWager.com/ie/blog",
    name: "Blog | CertainWager",
    description: texts.blogLayoutDescription,
    isPartOf: {
      "@type": "WebSite",
      url: "https://certainWager.com",
      name: "CertainWager",
      description: texts.heroSubtitle,  
    },
    inLanguage: "en-GB",
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-2xl md:text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200"
      >
        {texts.blogTitle}
      </h1>

      <p
        class="mt-4 text-pretty text-sm text-neutral-600 dark:text-neutral-400"
      >
        {texts.blogDescription}
      </p>
    </div>
  </section>

 
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-2">
      {otherPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry} />)}
    </div>
  </section>
 
</MainLayout>
